.notice--info a {
    color: #fff;
}
.notice--success a {
    color: #fff;
}
.notice--warning a {
    color: #fff;
}
.notice--success a {
    color: #fff;
}
.notice--danger a {
    color: #fff;
}
.notice a {
    color: #fff;
}
.notice--primary a {
    color: #fff;
}