---
layout: archive
---


<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=0.1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=0.1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=0.1">
    <link rel="manifest" href="/assets/images/site.webmanifest?v=0.1">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=0.1" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon.ico?v=0.1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=0.1">
    <meta name="theme-color" content="#ffffff">
</head>

{{ content }}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Musings" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}